<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/resources/css/style.css}" type="text/css" />
		<title th:text="#{guests.title}"></title>
	</head>
	<body>
        <div class="container">
            <h1 class="text-center" th:text="#{guests.title}"></h1>
            <p th:text="#{guests.no_guests}"></p>
        </div>
    </body>
</html>
